<!DOCTYPE html>
<html>
<head>
<!-- Este archivo es una copia del archivo views/"layout.hbs" -->
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
{{{body}}}
</body>
</html>