<div class="row">
    <div class="col-md-6 col-md-3">
        <div class="panel panel-login">
            <div class="panel-body">
                Welcome {{user.username}} - <a href="/login-routes/logout">Logout</a>
            </div>
        </div>
    </div>
</div>